<a href="https://colab.research.google.com/github/daonly/2023Autumn/blob/main/%5B%EB%8D%B0%EA%B3%BC%EC%88%98%5D%20%EC%8B%A4%EC%8A%B5%201%20%EC%B0%B8%EA%B3%A0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
title: "데이터과학을위한수학과프로그래밍 실습 1차시"
date: 2023-09-26
---

## Python 기본

Welcome to Python! Python은 쉬우면서도 강력한 프로그래밍 언어로 데이터 과학 및 기타 분야에서 널리 사용되는 언어입니다.

Python을 Google Colaboratory(이하 Colab)에서 실습해봅니다. Colab은 Jupyter Notebook 환경을 Cloud로 제공하는 서비스입니다.

Jupyter Notebook은 데이터 과학자가 코드 실행 결과를 바로 확인할 수 있는 장점이 있습니다. 책을 Jupyter Notebook으로만 작성할 수도 있습니다. [(예시)](!https://github.com/fastai/fastbook)

### 1. 파이썬을 계산기로 사용하기

산수를 위해서 더하기는 '+', 빼기는 '-', 곱하기는 '*' 그리고 나누기는 '/' 가 사용됩니다. 괄호 '('와 ')'를 통해 연산 순위를 지정하거나 바꿀 수 있습니다.

In [ ]:
1 + 2 # 덧셈

3

In [ ]:
20 - 12 # 뺄셈

8

In [ ]:
32 * 19 # 곱셈

608

In [ ]:
200 / 3 # 나눗셈

66.66666666666667

In [ ]:
(50 - 4*6) / 2 # 괄호연산

13.0

거듭제곱은 `**` 연산자를 사용합니다.

In [ ]:
5 ** 2

25

몫과 나머지에 대한 연산은 각각 `//`와 `%` 연산자를 사용합니다.

In [ ]:
5 // 2

2

In [ ]:
5 % 2

1

### 2. 문자열 사용하기

Python에서 문자열은 Single quotes나 (`'...'`) Double quotes (`"..."`)를 사용합니다.

In [ ]:
'Hot dog' # single quotes

'Hot dog'

In [ ]:
"You deserve it" # double quotes

'You deserve it'

In [ ]:
'1917' # 숫자도 quotes 안에서는 문자열이 됩니다.

'1917'

따옴표(quotes)를 문자 안에 쓰고 싶을 때, 두 가지 방법이 있습니다.

In [ ]:
'"모자가 멋지군요" 나는 슬쩍 떠보았다.' # 중복되지 않는 따옴표를 쓰거나,

'"모자가 멋지군요" 나는 슬쩍 떠보았다.'

In [ ]:
"\"모자가 멋지군요\" 나는 슬쩍 떠보았다." # '\'로 이스케이핑한다.

`\` 뒤에 나오는 문자가 특수 문자로 취급되게 하고 싶지 않다면, 첫 따옴표 앞에 r 을 붙여서 날 문자열 (raw string) 을 만들 수 있습니다. `r'<경로>'`는 데이터를 불러올 때 특히 편합니다.

In [ ]:
print('C:\some\name')

C:\some
ame

In [ ]:
print(r'C:\some\name')

C:\some\name

Python에서는 문자를 계산할 수도 있습니다.

In [ ]:
'ba' + 2*'na'

'banana'

두 개 이상의 문자열 리터럴 (즉, 따옴표로 둘러싸인 것들) 가 연속해서 나타나면 자동으로 이어 붙여집니다.

In [ ]:
'생활' '양식'

'생활양식'

In [ ]:
('제도는 제법 훌륭하지만 사람들은 그에 걸맞은 수준에 이르지 못한 이 야릇한 나라에서는 모든 것이'
'-도시도, 집도, 심지어는 실수까지도-'
'정확히 네모반듯하게 이루어진다.')

'제도는 제법 훌륭하지만 사람들은 그에 걸맞은 수준에 이르지 못한 이 야릇한 나라에서는 모든 것이-도시도, 집도, 심지어는 실수까지도-정확히 네모반듯하게 이루어진다.'

### 3. 변수

변수는 등호 `=` 를 사용하여 할당합니다.

In [ ]:
radius = 2 # 숫자 변수를 지정합니다.

In [ ]:
3.14 * (radius**2) # 원의 넓이

12.56

In [ ]:
# 삼각형의 넓이
base = 6.0
height = 3
1/2 * base * height

9.0

변수의 자료형은 `type` 함수를 통해서 확인할 수 있습니다.

In [ ]:
type(radius) # integer, 정수형

int

In [ ]:
type(base) # float, 실수형

float

### 4. 리스트

리스트 자료형은 여러 값을 묶는 것에 사용되어, 데이터를 능숙히 다루기 위해서 익숙해지면 좋습니다.

In [ ]:
list()

[]

In [ ]:
[]

[]

문자나 숫자 또는 리스트도 리스트 안에 포함될 수 있습니다.

In [ ]:
[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [ ]:
['Pearl', 'Einstein', 'Fisher']

['Pearl', 'Einstein', 'Fisher']

In [ ]:
['a', 'b', ['c', 'd']]

['a', 'b', ['c', 'd']]

여러 인덱싱 방법이 사용 가능합니다.

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
letters[0]

'a'

In [ ]:
letters[0:2] # 범위 슬라이싱, [start, end)

['a', 'b']

In [ ]:
letters[4:] # [start,

['e', 'f', 'g']

In [ ]:
letters[-1] # 마이너스 슬라이싱

'g'

In [ ]:
letters[:] # 리스트 전체 슬라이싱

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
letters[::2] # 두 스텝마다 슬라이싱

['a', 'c', 'e', 'g']

슬라이싱 후 값 대입도 가능합니다.

In [ ]:
letters[2:5] = ['C', 'D', 'E']

In [ ]:
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [ ]:
letters[2:5] = []

In [ ]:
letters

['a', 'b', 'f', 'g']

중첩된 리스트에서의 슬라이싱은 아래와 같습니다.

In [ ]:
numbers = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
x = [numbers, letters]

In [ ]:
x

[[1, 2, 3, 4, 5, 6, 7], ['a', 'b', 'c', 'd', 'e', 'f', 'g']]

In [ ]:
x[1][:3]

['a', 'b', 'c']

아울러 리스트끼리 연결할 떄는 `+`, 하나의 리스트를 여러번 반복하고 싶을 때 `*`를 사용할 수 있습니다.

In [ ]:
numbers + letters

[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
numbers * 2

[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

리스트는 하나의 자료형이기 때문에 미리 만들어진 메소드(함수)가 있습니다. 몇 가지를 소개하자면,

`list.append(x)`는 리스트 끝에 항목을 더합니다.

In [ ]:
letters.append('h')

In [ ]:
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

`list.remove(x)`는 x와 같은 첫 번째 항목을 삭제합니다.

In [ ]:
letters.remove('h')

In [ ]:
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

```python
list.sort(*, key=None, reverse=False)
```

리스트의 항목을 **제 자리에서** 정렬합니다.

In [ ]:
letters.sort()

In [ ]:
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
letters.sort(reverse=True)

In [ ]:
letters

['g', 'f', 'e', 'd', 'c', 'b', 'a']

In [ ]:
sorted(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

### 5. 함수

함수의 기본적인 구조는 아래와 같습니다.

```python
def f(x):
    
    <처리>

    return <결과>
```

함수를 정의하면서 연습해봅니다.

In [ ]:
def f_sum(a, b):
    return a + b

In [ ]:
def f_sum(a, b): return a + b

In [ ]:
f_sum(2, 3)

5

*docstring*은 다른 사용자가 사용자 정의 함수의 사용법을 알 수 있게 도와줍니다.

In [ ]:
def f_sum(a: float, b: float):
    '''
    Parameters
    ---
    a: 더할 첫 번째 수
    b: 더할 두 번째 수

    Returns
    ---
    더한 값
    '''

    return a + b

`<function>?` 은 함수의 사용방법 확인할 때 사용합니다.

In [ ]:
f_sum?

Signature: f_sum(a: float, b: float)
Docstring:
Parameters
---
a: 더할 첫 번째 수
b: 더할 두 번째 수

Returns
---
더한 값
File:      /tmp/ipykernel_663/3624910009.py
Type:      function

In [ ]:
def f_times(a, b):
    a = a + 1
    b = b + 1

    return a * b

In [ ]:
f_times(5, 5)

36

In [ ]:
def f_times(a, b):
    a = a + 1
    b = b + 1

In [ ]:
f_times(5, 5)

In [ ]:
print(f_times(5, 5))

None

### 6. 제어문

if문의 구조는 아래와 같습니다.

```python
if <조건>:
    <수행문1>
else:
    <수행문2>
```

In [ ]:
num_of_apples = 4

In [ ]:
if num_of_apples:
  print('사과가 있다')
else:
  print('사과가 없다')

사과가 있다

In [ ]:
if 0:
  print('사과가 있다')
else:
  print('사과가 없다')

사과가 없다

2개 이상의 조건은 아래와 같이 작성할 수 있습니다.

```python
if <조건 1>:
    <수행문 1>
elif <조건 i>:
    <수행문 i>
else:
    <수행문 n>
```

In [ ]:
wallet = ['영수증', '신용카드', '명함']

In [ ]:
if '현금' in wallet:
  print('외식 하자')
elif '신용카드' in wallet:
    print('외식 하자')
else:
    print('집에 가자')

외식 하자

In [ ]:
if '현금' in wallet or '신용카드' in wallet:
    print('외식 하자')
else:
    print('집에 가자')

외식 하자

`for` 문은 아래와 같습니다.

```python
"for" target_list "in" starred_list ":"
    suite(실행문)
["else" ":" suite]
```

In [ ]:
for i in [1,2,3,4]: print(i)

1
2
3
4

In [ ]:
for i in range(5): print(i)

0
1
2
3
4

In [ ]:
len(letters)

7

In [ ]:
f_sum

Signature: f_sum(a: float, b: float)
Docstring:
Parameters
---
a: 더할 첫 번째 수
b: 더할 두 번째 수

Returns
---
더한 값
File:      /tmp/ipykernel_663/3624910009.py
Type:      function

In [ ]:
for idx in range(len(letters)): print(idx, letters[idx])

0 g
1 f
2 e
3 d
4 c
5 b
6 a

`for` 문을 활용해 새로운 리스트를 만들어 봅니다.

In [ ]:
a = [1, 2, 3, 4]
a_squares = []

In [ ]:
for num in a: a_squares.append(num**2)

`for` 문을 항상 사용해야 하는 것은 아닙니다.

(리스트 컴프리헨션 사용)

In [ ]:
[num**2 for num in a]

[1, 4, 9, 16]

`while` 문은 표현식(assignment_expression)이 참인 동안 실행을 반복하는 데 사용합니다.

```
while_stmt ::=  "while" assignment_expression ":" suite
                ["else" ":" suite]
```

In [ ]:
i = 0

while i < 10:
    i += 1
    print(i)

1
2
3
4
5
6
7
8
9
10

`break` 문은 반복(loop) 중간에 반복을 멈출 수 있는 방법입니다.

In [ ]:
i = 0

while i < 10:
    i += 1
    print(i)

    if i == 7:
        break

1
2
3
4
5
6
7

`while` 문으로 $\lim_{N \to \infty}(1 + \frac{1}{N})^N$ 을 구해봅시다.

$N = 10^i$ ($i = 0, 1, \dots, 5$)

In [ ]:
i = 0
while i <= 5:
    N = 10**i
    print(((1 + 1/N)**N))
    i += 1

2.0
2.5937424601000023
2.7048138294215285
2.7169239322355936
2.7181459268249255
2.7182682371922975

소수와 합성수를 가려내는 `prime` 함수를 작성해봅니다.

In [ ]:
100 % 2

0

In [ ]:
def prime(x):

    i = 1

    while i < x:
        i += 1
        if x % i == 0:
            break
    if x == i:
        return "소수"
    else:
        return "합성수"

In [ ]:
prime(7)

'소수'

In [ ]:
def prime_list_comp(x):
    if len([i for i in range(2, x) if x % i == 0]) == 0:
        return "소수"
    else:
        return "합성수"

In [ ]:
prime_list_comp(7)

'소수'

### 7. 외부 라이브러리 불러오기

```python
import <package_name>
import <package_name> as <alias>
from <package_name> import <module>
from <package_name> import *
```

In [ ]:
import numpy as np

In [ ]:
np.dot?

Docstring:
dot(a, b, out=None)

Dot product of two arrays. Specifically,

- If both `a` and `b` are 1-D arrays, it is inner product of vectors
  (without complex conjugation).

- If both `a` and `b` are 2-D arrays, it is matrix multiplication,
  but using :func:`matmul` or ``a @ b`` is preferred.

- If either `a` or `b` is 0-D (scalar), it is equivalent to
  :func:`multiply` and using ``numpy.multiply(a, b)`` or ``a * b`` is
  preferred.

- If `a` is an N-D array and `b` is a 1-D array, it is a sum product over
  the last axis of `a` and `b`.

- If `a` is an N-D array and `b` is an M-D array (where ``M>=2``), it is a
  sum product over the last axis of `a` and the second-to-last axis of
  `b`::

    dot(a, b)[i,j,k,m] = sum(a[i,j,:] * b[k,:,m])

It uses an optimized BLAS library when possible (see `numpy.linalg`).

Parameters
----------
a : array_like
    First argument.
b : array_like
    Second argument.
out : ndarray, optional
    Output argument. This must have the exact kind that would be returned
    if it was not used. In particular, it must have the right type, must be
    C-contiguous, and its dtype must be the dtype that would be returned
    for `dot(a,b)`. This is a performance feature. Therefore, if these
    conditions are not met, an exception is raised, instead of attempting
    to be flexible.

Returns
-------
output : ndarray
    Returns the dot product of `a` and `b`.  If `a` and `b` are both
    scalars or both 1-D arrays then a scalar is returned; otherwise
    an array is returned.
    If `out` is given, then it is returned.

Raises
------
ValueError
    If the last dimension of `a` is not the same size as
    the second-to-last dimension of `b`.

See Also
--------
vdot : Complex-conjugating dot product.
tensordot : Sum products over arbitrary axes.
einsum : Einstein summation convention.
matmul : '@' operator as method with out parameter.
linalg.multi_dot : Chained dot product.

Examples
--------
>>> np.dot(3, 4)
12

Neither argument is complex-conjugated:

>>> np.dot([2j, 3j], [2j, 3j])
(-13+0j)

For 2-D arrays it is the matrix product:

>>> a = [[1, 0], [0, 1]]
>>> b = [[4, 1], [2, 2]]
>>> np.dot(a, b)
array([[4, 1],
       [2, 2]])

>>> a = np.arange(3*4*5*6).reshape((3,4,5,6))
>>> b = np.arange(3*4*5*6)[::-1].reshape((5,4,6,3))
>>> np.dot(a, b)[2,3,2,1,2,2]
499128
>>> sum(a[2,3,2,:] * b[1,2,:,2])
499128
Type:      function

In [ ]:
from sklearn.preprocessing import StandardScaler

### 참고문헌

- 파이썬 자습서, https://docs.python.org/ko/3/tutorial
- Project Jupyter, https://en.wikipedia.org/wiki/Project_Jupyter